# Python cache and virtual environments
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
.env
*.env

# IDE/editor configs
.vscode/
.idea/

# OS junk
.DS_Store
Thumbs.db

# Ignore outputs (annotated videos/images)
output/